<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1c52cfee6b551331239be0b7abb81dd4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_1c52cfee6b551331239be0b7abb81dd4" ></div>
        
</body>
<script>
    
    
            var map_1c52cfee6b551331239be0b7abb81dd4 = L.map(
                "map_1c52cfee6b551331239be0b7abb81dd4",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_70fc03803e6a71c8dece73f1f6ed1ea1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1c52cfee6b551331239be0b7abb81dd4);
        
    
            var feature_group_96e734186930236a9ff9f47adcfcb6a0 = L.featureGroup(
                {}
            ).addTo(map_1c52cfee6b551331239be0b7abb81dd4);
        
    
            var marker_9161c0adc7d40e246c085cf53be34f59 = L.marker(
                [61.0666922, -107.991707],
                {}
            ).addTo(feature_group_96e734186930236a9ff9f47adcfcb6a0);
        
    
            var icon_0c16846ba085340b5a912a9df8fc49f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9161c0adc7d40e246c085cf53be34f59.setIcon(icon_0c16846ba085340b5a912a9df8fc49f7);
        
    
            var marker_045247d01ce16e46d9d2bc5c79e38c25 = L.marker(
                [39.7837304, -100.445882],
                {}
            ).addTo(feature_group_96e734186930236a9ff9f47adcfcb6a0);
        
    
            var icon_1933f26e1e57529803f96f1b7a196d8d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_045247d01ce16e46d9d2bc5c79e38c25.setIcon(icon_1933f26e1e57529803f96f1b7a196d8d);
        
    
            var layer_control_bc6391e78b8f337bdeff40d22ae1ed36 = {
                base_layers : {
                    "openstreetmap" : tile_layer_70fc03803e6a71c8dece73f1f6ed1ea1,
                },
                overlays :  {
                    "Locations for the top track" : feature_group_96e734186930236a9ff9f47adcfcb6a0,
                },
            };
            L.control.layers(
                layer_control_bc6391e78b8f337bdeff40d22ae1ed36.base_layers,
                layer_control_bc6391e78b8f337bdeff40d22ae1ed36.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_1c52cfee6b551331239be0b7abb81dd4);
        
</script>
</html>